a {
  text-decoration: none;
  color: #1DA1F2;
}

a:hover {
  text-decoration: underline;
}

.card {
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 10px;
}

.card__header {
  display: flex;
  align-items: center;
}

.card__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.card__name {
    color: #555;
    font-size: 1em;
}

.card__text {
    margin: 0.4em 0;
    font-size: 20px;
}

.card__paragraph {
    margin-bottom: 1em;
}
.card__date {
    color: #555;
}

.card__footer {
    border-top: 1px solid #eee;
    padding: 1em 0;
    color: #bbb;
    display: flex;
    justify-content: space-around;
}

svg {
  width: 32px;
}